:root {
  --main-bg-color: #f3f3dd;
  --primary-color: #fd7d36;
  --primary-text-color: #ffffff;
  --sencodary-text-color: #000000;
  --header-gradient-color: #34e309, #09e3d8;
  --footer-color: #34e309;
  --streak-active-gradient-color: #016601, #0ccc0c;
  --streak-inactive-gradient-color: #c70505, red;
}
