:root {
  --main-bg-color: beige;
  --primary-color: #fd7d36;
  --primary-text-color: #ffffff;
  --sencodary-text-color: #000000;
  --header-gradient-color: #34e309, #09e3d8;
  --footer-color: #34e309;
  --streak-gradient-color: #016601, #0ccc0c;
}
