.Accomplishments__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Accomplishments__card {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  margin: 1rem;
  padding: 1rem;
  width: 300px;
}

.Accomplishments__text {
  padding: 0.5rem;
  font-size: var(--normal-text);
}
