.Home__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
}

.Home__link {
  height: fit-content;
  text-decoration: none;
}

.Home__button {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border-style: initial;
  padding: 2rem;
  margin: 1rem;
  font-size: var(--normal-text);
  cursor: pointer;
}

.Home__button__text {
  position: relative;
  bottom: 185px;
}

.Home__progressbar {
  position: relative;
  right: 32px;
  bottom: 32px;
  height: 250px;
  width: 250px;
}

.Home__text--first-visit {
  text-align: center;
  padding: 1rem;
  font-size: var(--normal-text);
}

.Home__text--no-habbits {
  text-align: center;
  margin: 1rem;
  font-size: var(--big-text);
}
