.Home__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--main-bg-color);
  min-height: 96vh;
  overflow-y: scroll;
}

.Home__link {
  height: fit-content;
  text-decoration: none;
}

.Home__button {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border-style: initial;
  padding: 2rem;
  margin: 1rem;
  font-size: var(--normal-text);
  cursor: pointer;
}

.Home__text--no-habbits {
  align-self: center;
  margin: 1rem;
  font-size: var(--big-text);
}
