.Menu__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Menu__link {
  text-decoration: none;
}

.Menu__button {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  width: 320px;
  height: 62px;
  font-size: 25px;
  font-weight: bold;
  margin: 3rem 1.5rem;
  border-radius: 10px;
  border-style: unset;
  cursor: pointer;
}
