.NewChallenges__form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NewChallenges__input {
  font-size: var(--normal-text);
  margin-top: 2rem;
  text-align: center;
  padding: 5px 0;
  width: 25%;
}

.NewChallenges__textarea {
  font-size: var(--normal-text);
  margin-top: 2rem;
  text-align: center;
  width: 339px;
  height: 10rem;
}

.NewChallenges__button {
  color: var(--primary-text-color);
  font-size: var(--normal-text);
  background-color: var(--primary-color);
  border-radius: 10px;
  border-style: unset;
  margin-top: 1rem;
  cursor: pointer;
  padding: 0.5rem;
}
