.App {
  text-align: center;
  height: 100vh;
  background-color: var(--main-bg-color);
}
.Header {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--header-color);
}
.Header__link {
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
}
.Header__menuIcon {
  cursor: pointer;
  margin: 0.5rem;
  font-size: var(--big-text);
  color: var(--sencodary-text-color);
}

.Header__heading {
  margin: 0.5rem;
  color: var(--primary-color);
}
