.App {
  text-align: center;
}
.Header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--header-color);
}
.Header__link {
  text-decoration: none;
}
.Header__menuIcon {
  font-size: 2rem;
  color: black;
}

.Header__heading {
  color: var(--sencodary-text-color);
}
